.heading{
    width: 100%;
    font-size: 23px;
    margin:0px;
}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}
.div_img{
    width: 200px;
    border-radius: 100px;
}
.div_h3{
    margin: 15px;
    font-size: 23px;
}
.div_speed{
    float: left;
}
.div_volume{
    float: right;
}
.play_button{
    width: 130px;
    font-size: 25px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
}